*, *::after, *::before, *:focus {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1270px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  padding-top: 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__left, .header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
}

.header__logo {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.1;
  color: #000000;
}

.header__dropdown {
  position: relative;
}

.header__dropdown-title {
  padding-right: 28px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #3A3A3A;
  position: relative;
  cursor: pointer;
}

.header__dropdown-title::after {
  content: '';
  width: 20px;
  height: 20px;
  background: url(../img/svg/arrow-down.svg) no-repeat center;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all .2s;
  transition: all .2s;
}

.header__dropdown-list {
  display: none;
}

.header__item-dropdown.active {
  position: relative;
}

.header__item-dropdown.active .header__dropdown-list {
  width: 140px;
  display: block;
  padding: 15px;
  margin-top: 10px;
  position: absolute;
  z-index: 10;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #fff;
  border-radius: 15px;
}

.header__item-dropdown.active .header__dropdown-list li {
  margin-bottom: 10px;
}

.header__item-dropdown.active .header__dropdown-list li:last-child {
  margin-bottom: 0;
}

.header__item-dropdown.active .header__dropdown-list li a {
  font-weight: 500;
  font-size: 16px;
}

.header__item-dropdown.active .header__dropdown-title::after {
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

.header__item-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #3A3A3A;
}

.header__item-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 470px;
}

.header__item-search button {
  margin: 0;
  height: 45px;
  padding: 12px;
  border: none;
  background: #FFFFFF;
  cursor: pointer;
}

.header__item-search input {
  margin: 0;
  height: 45px;
  width: 100%;
  padding: 13px 30px 12px 0;
  background: #FFFFFF;
  border: none;
  font-size: 14px;
  line-height: 150%;
  color: #616161;
  font-family: 'Ubuntu', sans-serif;
}

.header__item-search input::-webkit-input-placeholder {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  line-height: 150%;
  color: #616161;
}

.header__item-search input:-ms-input-placeholder {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  line-height: 150%;
  color: #616161;
}

.header__item-search input::-ms-input-placeholder {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  line-height: 150%;
  color: #616161;
}

.header__item-search input::placeholder {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  line-height: 150%;
  color: #616161;
}

.intro {
  padding-top: 140px;
  position: relative;
  background: #FCF8F3;
}

.intro::before {
  content: '';
  height: 100%;
  width: 60%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: #F9F1E7;
}

.intro__slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.intro__slider-slide {
  position: relative;
  width: 934px;
  height: 553px;
}

.intro__slider-controller {
  padding-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro__slider-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 8px;
  margin-left: auto;
}

.intro__slider-pagination {
  margin-left: auto;
  width: 120px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.intro__slider .swiper-pagination-bullets.swiper-pagination-horizontal {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.intro__slider-button-prev, .intro__slider-button-next {
  width: 48px;
  height: 48px;
  padding: 12px;
  background: #E89F71;
  border-radius: 100%;
  cursor: pointer;
}

.intro .swiper-pagination-bullet {
  margin-right: 20px !important;
  width: 11px;
  height: 11px;
  background: #c4c4c4;
}

.intro .swiper-pagination-bullet-active {
  background: #E89F71;
  position: relative;
  margin-right: 32px;
}

.intro .swiper-pagination-bullet-active::before {
  content: '';
  width: 27px;
  height: 27px;
  background-color: transparent;
  border: 1px solid #E89F71;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.intro__wrapper {
  width: 480px;
  position: absolute;
  top: 140px;
  z-index: 10;
  padding: 60px;
  background: rgba(255, 255, 255, 0.72);
  -webkit-backdrop-filter: blur(31px);
          backdrop-filter: blur(31px);
}

.intro__title {
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 54px;
  line-height: 120%;
  color: #3A3A3A;
}

.intro__desc {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #898989;
}

.intro__btn {
  padding: 24px 130px;
  background: #E89F71;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #FFFFFF;
  display: block;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.intro__btn:hover {
  background-color: #d48c5f;
}

.intro__slide-desc {
  width: 295px;
  position: absolute;
  padding: 24px;
  background: rgba(255, 255, 255, 0.72);
  -webkit-backdrop-filter: blur(31px);
          backdrop-filter: blur(31px);
  right: 40px;
  bottom: 40px;
}

.intro__slide-desc.hide {
  display: none;
}

.intro__slide-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;
  color: #3A3A3A;
}

.intro__slide-subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #616161;
}

.intro__slide-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #3A3A3A;
}

.intro__slide-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
